<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
    <meta name="viewport" content="width=device-width" />
    <script src="/templates/User/createUser.js"></script>
</head>
    <body>
        <h1>Add a new user</h1>

        <label for="first_name">First Name: </label>
        <input type="text" id="first_name" name="First name" placeholder="What's your first name?" autocomplete="off"><br>
        <label for="last_name">Last Name: </label>
        <input type="text" id="last_name" name="Last name" placeholder="What's your last name?" autocomplete="off"><br>
        <label for="afm">AFM: </label>
        <input type="text" id="afm" name="afm" placeholder="What's your afm?" autocomplete="off"><br>
        <label for="area_code">Area Code: </label>
        <input type="text" id="area_code" name="Area code" placeholder="What's your area code?" autocomplete="off"><br><br>

        <button id="newUser_btn" onclick="addUser()">Create User</button>
    </body>
</html>